* {
  box-sizing: border-box;
  margin: 0;
}

body{
    background-color: rgb(16, 16, 16);
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 0px;
}


/* Banner */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 0 60px;

  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0.6) 40%,
    rgba(0,0,0,0.2) 70%,
    transparent 100%
  );

  z-index: 1;
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 150px;

  background: linear-gradient(
    to top,
    #141414,
    transparent
  );

  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;

  max-width: 600px;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner-description {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.5;

  margin-bottom: 20px;
}

.banner-buttons {
  display: flex;
  gap: 10px;
}

.banner-btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  font-weight: bold;

  transition: 0.3s;
}

.play {
  background: white;
  color: black;
}

.play:hover {
  background: #e6e6e6;
}

.info {
  background: rgba(109, 109, 110, 0.7);
  color: white;
}

.info:hover {
  background: rgba(109, 109, 110, 0.4);
}

.banner-video {
  position: absolute;
  inset: 0;

  z-index: 0;
}

.banner-video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}



#main {
  padding-top: 80px;
}

.row{
    padding: 30px;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.movies {
  display: flex;
  overflow-x: auto;
  gap: 15px;

  scroll-behavior: smooth;
  scrollbar-width: none;
}

.movies::-webkit-scrollbar {
  display: none;
}


/* Setas de Navegação */
.arrow {
  position: absolute;
  z-index: 10;

  background: rgba(0,0,0,0.6);
  border: none;
  color: white;
  font-size: 24px;

  height: 100%;
  width: 40px;

  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(0,0,0,0.9);
}

.left {
  left: 0;
}

.right {
  right: 0;
}



.movie-card {
  position: relative;
  width: 150px;
  height: 225px;

  flex: 0 0 auto;

  overflow: hidden;
  border-radius: 6px;

  transition: width 0.4s ease, height 0.4s ease;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.trailer-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  transition: 0.3s;
}

.movie-card.active {
  width: 320px;
  height: 225px;
  z-index: 100;
}

.movie-card.active .poster {
  opacity: 0;
}

.movie-card.active .trailer-container {
  opacity: 1;
}

.trailer {
  width: 100%;
  height: 100%;
}
